[Unit]
Description=EPICS CSS-Archive 4.6 engine
#After=network.target remote-fs.target
#Requires=network.target
After=network.target

[Service]
Type=simple
Environment="EPICS_CA_ADDR_LIST=192.168.0.255"
Environment="EPICS_AUTO_CA_ADDR_LIST=NO"
WorkingDirectory=/home/esther/git-repos/esther-epics/css-archive-engine
## EPICS  telnet port is 4051, archive is 4052
ExecStart=/usr/bin/procServ --foreground --quiet --port=4052 /home/esther/git-repos/esther-epics/css-archive-engine/epics-archive-engine.sh
User=esther
RuntimeDirectory=epics-css-archive
StandardOutput=syslog
StandardError=inherit
SyslogIdentifier=procserv-css-archive

[Install]
WantedBy=multi-user.target
# telnet localhost 4052
# Connected to localhost.
# Escape character is '^]'. (Ctrl + AltGr + ])
# Ctrl + D
# > quit

