#https://epics-controls.org/resources-and-support/documents/howto-documents/posix-thread-priority/
[Unit]
Description=EPICS Soft IOC ESTHER Vacuum
Requires=network.target
After=network.target

[Service]
WorkingDirectory=/home/bernardo/EPICS/esther-epics/iocs/estherVacuum/iocBoot/iocvac
ExecStart=/usr/bin/procServ --foreground --quiet --port=4051 /home/bernardo/EPICS/esther-epics/iocs/estherVacuum/iocBoot/iocvac/st.cmd
Restart=always
#User=iocuser
User=bernardo
Group=epics
RuntimeDirectory=estherVacuum
#CPUAffinity=1-3
#LimitMEMLOCK=infinity
#LimitRTPRIO=99
#
# put this file in /etc/systemd/system/
# and enable service with:
# sudo systemctl enable esther-vacuum-ioc  
#
# Do "telnet localhost 4051" to go to epics console
# ^] + ^D to exit console

[Install]
WantedBy=multi-user.target
