scripts/gateway.*
css/opi/logs*
css/logs*
css/BOY Examples/*
iocs/serialKistler/KistlerApp/Db/O.linux-x86_64/
iocs/serialKistler/KistlerApp/Makefile
iocs/serialKistler/KistlerApp/src/KistlerMain.cpp
iocs/serialKistler/KistlerApp/src/O.Common/
iocs/serialKistler/KistlerApp/src/O.linux-x86_64/
iocs/serialKistler/Makefile
iocs/serialKistler/bin/
iocs/serialKistler/configure/O.linux-x86_64/
iocs/serialKistler/db/
iocs/serialKistler/dbd/

iocs/estherVacuum
iocs/estherVacuumRpi
launch-scripts/gateway.*

docs/uml/*.png
!iocs/estherVacuumRpi/vacApp/Db/**


css/.project
iocs/thyracont/configure
iocs/thyracont/iocBoot/iocvrs53
iocs/thyracont/vrs53App
phoebus-display-builder/CSS/Vacuum_20230519.csv
hs_err_pid132698.log
